<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VLTech</title>
    <link rel="stylesheet" href="static/style.css"> 
</head>
<body>
    <header>
        <h1>VLTech Informática</h1>
        <nav>
            <ul>
                <li> <a> <button href = "Front_site.html">Pagina Inicial</button> </a></li>
                <li><a> <button> Sobre</button></a></li>
                <li><a> <button> Contato</button></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>            
            <p>Bem-vindo a Vltech Informática!</p>
        </section>

        <section>
            <h2>Nossos Serviços</h2>
            <ul>
                <li><a href="https://loja.infinitepay.io/vltechcelulares"><button class="botao_loja">Loja VLtech</button></a></li>
                <li><a href="static\Reparo_celulares.html"><button class="botao_celulares">Reparo de Celulares</button></a></li>
                <li><a href="static\Reparo_computadores.html"><button class="botao_computadores">Reparo de Computadores</button></a></li>
                <li><a href="https://maps.app.goo.gl/wvRWymniMXDuionZA"><button class="botao_Local">Localização</button></a></li></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 VLTech Informática</p>
    </footer>


</body>
</html>
